<h1 align="center">Welcome to Jewelery Pricing Evaluation</h1>

<div class="form-position">
  <%= render 'items/form' %>
</div>

<div class="row">
  <div class="col-xs-5 col-xs-offset-4">
    <p><strong>*Please wait until the final price will show up in order to see similar items</strong></p>
  </div>
  <div class="col-xs-5 col-xs-offset-4">
    <%= link_to 'Show similar items', same_items_path(item_cut: @item.item_cut), :remote => true,
                class: 'btn btn-info btn-sm', id: "show-similar-id" %>

  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

  </div>
</div>
