@import "bootstrap-sprockets";
@import "bootstrap";

.header {
  padding-top: 15px;
}

label {
  padding-left: 10px;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}

select {
  display: inline-block
}


