@import "bootstrap-sprockets";
@import "bootstrap";

.header {
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#label_id {
  display: inline-block;
  padding-right: 60px;
}

select {
  display: inline-block
}

form-position {
  margin: 0 auto;
  width: 50px;
}

.modal-body {
  height: 300px!important;
}

body .modal-content{
  height: 500px!important;
  width: 150%!important;
  margin-left: -30%!important;
}


